.result-container>* { 
    flex:1 1 40%;
}

.result {
    width: 50%;
    border-bottom: 2px solid gray;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}

.result-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
}

.error {
    display: flex;
    justify-content: center;
    font-family: "ZenDots-Regular";
}


