.search-bar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-bottom: solid 4px gray;
    height: 75px;
    margin-bottom: 10px;
}

form {
    display: flex;
    align-items: center;
}